{
  "singleQuote": false,
  "trailingComma": "all",
  "semi": false,
  "overrides": [
    {
      "files": "*.mo",
      "options": {
        "bracketSpacing": true,
        "semi": true,
        "tabWidth": 2,
        "trailingComma": "es5",
        "useTabs": false
      }
    }
  ]
}
